@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  margin-bottom: 0;
  padding-bottom: 0;
}

main {
  margin-top: -20px;
  background-color: #212529;
}

.work-section {
  margin-top: 30px;
}

.work-card {
  position: relative;
  width: 300px;
  overflow: hidden;
  color: white;
  border-radius: 8px;
  transform: skew(-10deg);
  transition: 0.3s ease-in-out;
  z-index: 100;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.work-card:hover {
  transform: skew(-15deg);
}

.work-card img {
  width: 100%;
  height: auto;
}

.work-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.work-card .work-card-desc {
  position: absolute;
  z-index: 2;
  padding: 10px;
  left: 0;
  bottom: 0;
}

.work-card-desc h2 {
  border-bottom: 2px solid #fff;
  padding-bottom: 8px;
  width: 150%;
  max-width: 60%;
}

.work-card-desc .work-card-no {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.work-rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 25px;
}

.work-rows > div:nth-child(2) {
  margin-top: 300px; /* Adjust this value as needed */
}

.work-rows-2 .work-card {
  width: 420px;
}

.work-rows-2 {
  display: flex;
  gap: 35px;
  justify-content: center;
}

.work-section-2 {
  margin-top: 60px;
}

.work-section-3 {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .work-rows,
  .work-rows-2,
  .work-rows-3 {
    flex-direction: column;
  }

  .work-rows-2,
  .work-section-3 {
    justify-content: space-between;
  }
  .work-section-3 {
    justify-content: space-between;
  }

  .work-card {
    transform: skew(0deg);
    margin-left: 100px;
  }

  .work-card:hover {
    transform: skew(0deg);
  }

  .work-rows > div:nth-child(2) {
    margin-top: 0px;
  }
  .work-rows-2 .work-card {
    width: 200px;
  }

  .work-rows {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 40px;
    padding: 0px;
  }
  .work-rows > div:nth-child(2) {
    margin-top: 0px;
  }
  .work-card {
    position: relative;
    width: 200px;
    overflow: visible;
  }

  .work-card:hover {
    transform: skew(-15deg);
  }

  .work-card img {
    width: 200px;
    height: auto;
  }

  .work-card .work-card-desc {
    position: absolute;
    z-index: 2;
    padding: 10px;
    left: -70px;
    bottom: 0;
  }
}

/* --------------------------------------------------------------------- */
.lab-content{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 70px;
    margin-top: 35px;
    margin-left: 30px;
}

.lab-container h2 {
  max-width: 70%;
  color: #f9f9f9;
  /* line-height: 32px; */
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(249, 249, 249);
  text-align: left;
  text-indent: 0px;
}

.lab-content-item p a{
    text-decoration: none;
    color: #f0f0f0;
    font-family: "Roboto Mono", monospace;
}

.lab-content-item h4{
    color: var(--indigo);
    font-size: 28px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.lab-content-item p{
    margin: 15px 0px;
}

.lab-content-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media(max-width:767px){
    .lab-content{
        display: block;
    }
    .lab-container h2 {
        max-width: 100%;
        width: 100%;
      }
}

/* ------------------------------------------------------------------------------- */
/* 14121C */
/* 6C6572 */

/* .about-section {
    font-family: 'Courier New', monospace;
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding: 20px;
    line-height: 1.6;
}
/* .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #252526;
    padding: 20px;
    border-radius: 5px;
} */ */
h1 {
    color: #569cd6;
}
.comment {
    color: var(--gray);
}
.keyword {
    color: #569cd6;
}
.string {
    color: var(--green);
    font-family: "Roboto Mono", monospace;
}
.number {
    color: #b5cea8;
}
.property {
    color: #9cdcfe;
}
.function {
    color: #dcdcaa;
}
.array {
    color: #4ec9b0;
}
pre {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    text-wrap: wrap;
    font-family: "Roboto Mono", monospace;
    color: var(--light);
}